furo
linkify-it-py
myst-parser
pygments
readthedocs-sphinx-search
docutils<0.20,>=0.15
sphinx
sphinxcontrib-images
sphinx-copybutton
sphinx-design
sphinx-notfound-page
sphinx-inline-tabs
sphinx-hoverxref
