@import "handout-clean.css";

div.highlight {
  background-color: #f6f8fa;
}

.question {
  border-left: .2rem solid #48983f;
  
}

.question-title {
  background-color: #30362a17 !important;
}

.question-title::before {
  -webkit-mask-image: var(--icon-question) !important;
  mask-image: var(--icon-question) !important;
}