div.highlight {
  background-color: #f6f8fa;
}

a.hxr-hoverxref {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-link-underline);
    border-bottom: none;
}

a.hxr-hoverxref:hover {
    text-decoration-color: var(--color-link-underline-hover);
}